ENVIRONMENT=prod
PROJECT_NAME=opendata-stack-platform

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-central-1

S3_BUCKET_PREFIX=s3://opendata-stack-prod
S3_BUCKET=opendata-stack-prod

# DuckDB for remote state (S3-based)
DUCKDB_DATABASE=

# SQLMESH
SNOWFLAKE_ADMIN_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_DATABASE=NYC_DATABASE
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_ROLE_SQLMESH=DATA_ENGINEER_ROLE

# Terraform Infrastructure Variables
PROJECT_NAME=opendata-stack

# Warehouse Configuration
WAREHOUSE_SIZE=X-SMALL
WAREHOUSE_AUTO_SUSPEND=60

# DLT Config
SOURCES__TAXI_TRIP__FILESYSTEM__BUCKET_URL=
SOURCES__TAXI_TRIP__FILESYSTEM__CREDENTIALS__AWS_ACCESS_KEY_ID=
SOURCES__TAXI_TRIP__FILESYSTEM__CREDENTIALS__AWS_SECRET_ACCESS_KEY=
SOURCES__TAXI_TRIP__FILESYSTEM__CREDENTIALS__REGION_NAME=eu-central-1

# DLT Filesystem destination (S3)
DESTINATION__FILESYSTEM__BUCKET_URL=
DESTINATION__FILESYSTEM__CREDENTIALS__AWS_ACCESS_KEY_ID=
DESTINATION__FILESYSTEM__CREDENTIALS__AWS_SECRET_ACCESS_KEY=
DESTINATION__SNOWFLAKE__CREDENTIALS__DATABASE=NYC_DATABASE
DESTINATION__SNOWFLAKE__CREDENTIALS__USERNAME=
DESTINATION__SNOWFLAKE__CREDENTIALS__PASSWORD=
DESTINATION__SNOWFLAKE__CREDENTIALS__HOST=
DESTINATION__SNOWFLAKE__CREDENTIALS__ACCOUNT=
DESTINATION__SNOWFLAKE__CREDENTIALS__WAREHOUSE=COMPUTE_WH
DESTINATION__SNOWFLAKE__CREDENTIALS__ROLE=DATA_ENGINEER_ROLE
DESTINATION__SNOWFLAKE__CREDENTIALS__SCHEMA=PUBLIC
DESTINATION__SNOWFLAKE__USE_VECTORIZED_SCANNER=true
DESTINATION__SNOWFLAKE__STAGE_NAME=PUBLIC.DLT_S3_STAGE
