dotenv_if_exists "${PWD}/dagster-workspace/team_data_platform/data_platform/.env"
# Local folder for saving Dagster runs and assets so they persist between sessions
export DAGSTER_HOME="${PWD}/data/dagster_home"
use flake .

source "${PWD}/dagster-workspace/team_data_platform/data_platform/.venv/bin/activate"

# Overwrite or append PYTHONPATH from nix environment
export PYTHONPATH="${PYTHONPATH}:${PWD}/dagster-workspace/team_data_platform/data_platform/src"
export PYTHONPATH="${PYTHONPATH}:${PWD}/dagster-workspace/team_climate_risk/physical_risk_impact/src"
export PATH="/Users/melchior/Developer/polaris:$PATH"
