dotenv_if_exists
# Local folder for saving Dagster runs and assets so they persist between sessions
export DAGSTER_HOME="${PWD}/dagster-workspace/dagster_home"
# source "${PWD}/.venv/bin/activate"
use flake .

# Overwrite or append PYTHONPATH from nix environment
export PYTHONPATH="${PYTHONPATH}:${PWD}/opendata_stack_platform_project"
