# load common envs across all projects (local)
dotenv_if_exists "${PWD}/.env.dev"

dotenv_if_exists "${PWD}/dagster-workspace/team_data_platform/data_platform/.env.dev"
dotenv_if_exists "${PWD}/dagster-workspace/team_ops/.env.dev"
dotenv_if_exists "${PWD}/dagster-workspace/team_ops/.env.polaris"

# Manual envs for prod and infra
# dotenv_if_exists "${PWD}/.env.prod"
# dotenv_if_exists "${PWD}/infrastructure/.env"

if [[ "${ENVIRONMENT}" == "prod" ]]; then
  export DAGSTER_HOME="${PWD}/data/dagster_home_prod"
else
  # Local folder for saving Dagster runs and assets so they persist between sessions
  export DAGSTER_HOME="${PWD}/data/dagster_home"
fi

use flake .

source "${PWD}/dagster-workspace/team_data_platform/data_platform/.venv/bin/activate"

# Overwrite or append PYTHONPATH from nix environment
export PYTHONPATH="${PYTHONPATH}:${PWD}/dagster-workspace/team_data_platform/data_platform/src"
export PYTHONPATH="${PYTHONPATH}:${PWD}/dagster-workspace/team_climate_risk/physical_risk_impact/src"
export PYTHONPATH="${PYTHONPATH}:${PWD}/dagster-workspace/team_ops/src"
export PATH="/Users/melchior/Developer/polaris:$PATH"
