polars==1.2.1
dagster==1.9.1
dagster-webserver==1.9.1
dagster-embedded-elt==0.25.1
dagster-polars==0.25.1
dagster-aws==0.25.1
dagster-duckdb==0.25.1
dlt[duckdb]>=1.3.0
# psycopg2-binary==2.9.10
connectorx==0.3.3
pandas==2.2.3
s3fs==2024.9.0
boto3==1.34.20
duckdb==1.1.3
# rasterio==1.4.1
# xarray==2024.9.0
# rioxarray==0.17.0
# zarr==2.18.3
# scipy==1.14.1
# dask[dataframe]==2024.10.0
