polars==1.2.1
dagster==1.9.3
dagster-webserver==1.9.3
dagster-embedded-elt==0.25.3
dagster-polars==0.25.3
dagster-aws==0.25.3
dagster-duckdb==0.25.3
dlt[duckdb]>=1.3.0
connectorx==0.3.3
pandas==2.2.3
s3fs==2024.9.0
boto3==1.34.20
duckdb==1.1.3
dbt-core==1.8.4
dbt-duckdb==1.8.4
dagster-dbt==0.25.3
