polars==1.22.0
dagster==1.10.1
dagster-webserver==1.10.1
dagster-embedded-elt==0.26.1
dagster-polars==0.26.1
dagster-aws==0.26.1
dagster-duckdb==0.26.1
dlt[duckdb]>=1.3.0
connectorx==0.4.2
pandas==2.2.3
s3fs==2024.9.0
boto3==1.36.21
duckdb==1.2.0
dbt-core==1.9.2
dbt-duckdb==1.9.2
dagster-dbt==0.26.1